@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #1E3D59, #1469AE);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(#162e42d1);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2F2F2F;
    text-align: center;
    text-shadow: 1 px 1px 2px rgb(rgba(255, 255, 255, 0.653));
}

h2 {
    color: #DCD8CF;
}
p {
    text-align: justify;
}